@import url("style/header.css");
body {
    background-color: rgb(191, 199, 225);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
}

.h1 {
    color:rgb(106, 0, 255);
}

.h2 {

    color:rgb(42, 165, 65);
   
}
